<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kipu Task</title>
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="hero-unit center">
                <h1>Page Not Found <small style="float: right"><label class="label label-danger">Error 404</label></small> </h1>
                <hr/>
                <p class="center" style="font-size: 17px">The page you requested could not be found. Use your browsers <b>back</b> button to navigate to the page you have prevously come from
                    <b>or you could press the button at the bottom to enter the app</b>
                </p>
                <br/>
                <div style="text-align: center">
                    <a href="/" class="btn btn-lg btn-info">
                        <i class="glyphicon glyphicon-home"></i> Take Me Home
                    </a>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
</body>
</html>